<h1 class="ml1 text-center">
    <span class="text-wrapper">
      <span class="line line1"></span>
      <span class="letters">SOL_CODE</span>
      <span class="line line2"></span>
    </span>
    <a id="arrow" data-component="arr" href="#">
      <svg class="arrows">
        <path class="a1" d="M0 0 L30 32 L60 0"></path>
        <path class="a2" d="M0 20 L30 52 L60 20"></path>
        <path class="a3" d="M0 40 L30 72 L60 40"></path>
      </svg>
    </a>
</h1>

<script src="../app/titlename.js"></script>
<script>
  title_name()
</script>